{% extends "base.html" %}

{% block login %}
<div id="login">
    <h2><img src="{{ MEDIA_URL }}{{ LOGIN_TITLE }}" alt="CATEGORY" width="390" height="45" /></h2>
    <div class="sectionLogin">

        <form method="POST" action=".">
            <table>
                {% if form.errors %}
                    <tr>
                       <td colspan="2" class="error">ユーザー名とパスワードがマッチしてません。</td>
                    </tr>
                {% endif %}
                <tr>
                   <th>USER NAME :</th>
                   <td>{{ form.username }}</td>
                <tr/>
                <tr>
                   <th>PASSWORD :</th>
                   <td>{{ form.password }}</td>
                <tr/>
            </table>
            <div class="login_button">
                <input type="submit" class="button" value="LOGIN" />
            <!-- /.login_button --></div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    <!-- /.loginSection --></div>
<!-- /#login --></div>
{% endblock %}
