{% extends "base.html" %}

{% block login %}
    <body class="login">
        <div class="wrapper">
            <div class="loginArea">
                <div class="login">
                    <h1 style="font-size: 320%; font-weight: bold;">Login</h1>
                    <div class="boxContent">
                        {% if form.errors %}
                            <div class="error notification">
                               <div>ユーザー名もしくはパスワードが正しくありません。</div>
                            </div>
                        {% endif %}
                        <div class="loginBox">
                            <form method="post" action=".">
                                <dl>
                                    <dt>
                                        <label style="font-size: 125%;">Username</label>
                                    </dt>
                                    <dd>
                                        <input type="text" class="text" name="username" tabindex="1" maxlength="30" />
                                    </dd>
                                    <dt>
                                        <label style="font-size: 125%;">Password</label>
                                    </dt>
                                    <dd>
                                        <input type="password" class="text" name="password" tabindex="2" maxlength="30" />
                                    </dd>
                                </dl>
                                <div class="center">
                                    <input type="submit" class="submitA submitL" value="ログイン" tabindex="3" />
                                    <input type="hidden" name="next" value="/" />
                                    {% csrf_token %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
