{% extends "local_base.html" %}

{% block change_passwd %}
<div id="changePassword">
    <h2><img src="{{ MEDIA_URL }}{{ CHPW_TITLE }}" alt="CHANGE_PASSWORD" width="505" height="45" /></h2>
    <div class="sectionChPass">
        <form method="POST" action=".">
            <table>
                {% if form.errors %}
                    <tr>
                       <td colspan="2" class="error">パスワードの入力が不正です。</td>
                    </tr>
                {% endif %}
                <tr>
                   <th>CURRENT PASSWORD :</th>
                   <td>{{ form.old_password }}</td>
                <tr/>
                <tr>
                   <th>NEW PASSWORD :</th>
                   <td>{{ form.new_password1 }}</td>
                <tr/>
                <tr>
                   <th>NEW PASSWORD(agein) :</th>
                   <td>{{ form.new_password2 }}</td>
                <tr/>
            </table>
            <div class="login_button">
                <input type="submit" class="button" value="ENTER" />
            <!-- /.login_button --></div>
        </form>
    <!-- /.sectionChPass --></div>
<!-- /#changePassword --></div>
{% endblock %}

