{% extends "base.html" %}

{% block change_passwd %}
    <body class="login">
        <div class="wrapper">
            <div class="loginArea">
                <div class="login" style="padding: 70px 50px 50px;">
                    <h1 style="font-size: 200%; font-weight: bold;">パスワード変更</h1>
                    <div class="boxContent">
                        {% if form.errors %}
                            <div class="error notification">
                               <div>パスワードの入力が不正です。</div>
                            </div>
                        {% endif %}
                        <div class="loginBox" style="margin: 15px 0 10px 0;">
                            <form method="post" action=".">
                                <dl style="margin-bottom: 15px; padding-bottom: 5px;">
                                    <dt style="padding-top: 0px">
                                        <label style="font-size: 100%;">CURRENT<br />PASSWORD</label>
                                    </dt>
                                    <dd style="padding-top: 5px">
                                        <input type="text" class="text" name="old_password" tabindex="1" maxlength="30" />
                                    </dd>
                                    <dt style="padding-top: 0px">
                                        <label style="font-size: 100%;">NEW<br />PASSWORD</label>
                                    </dt>
                                    <dd style="padding-top: 5px">
                                        <input type="password" class="text" name="new_password1" tabindex="2" maxlength="30" />
                                    </dd>
                                    <dt style="padding-top: 0px">
                                        <label style="font-size: 100%;">(agein)NEW<br />PASSWORD</label>
                                    </dt>
                                    <dd style="padding-top: 5px">
                                        <input type="password" class="text" name="new_password2" tabindex="3" maxlength="30" />
                                    </dd>
                                </dl>
                                <div class="center">
                                    <input type="submit" class="submitA submitL" value="変更する" tabindex="4" />
                                    {% csrf_token %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
