{% extends "base.html" %}
{% load url from future %}

{% block change_passwd %}
    <body class="login">
        <div class="wrapper">
            <div class="loginArea">
                <div class="login" style="padding: 70px 50px 50px;">
                    <h1 style="font-size: 200%; font-weight: bold;">パスワード変更</h1>
                    <div class="boxContent">
                        <div class="success notification" style="margin-top: 80px;">
                           <div>パスワードを変更しました。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
