{% extends 'top/base.html' %}

{% block contentsNavi %}
    <h2><img src="{{ MEDIA_URL }}{{ RECENT_BOOK }}" alt="RECENT BOOK" width="190" height="45" /></h2>
    <div class="localContentsNavi">
        <ul>
            {% for recent_book in recent_book_list %}
                {% ifequal recent_book.entry.category.url_name 'manga' %}
                    {% if recent_book.exit_pdf %}
                        <li><a href="{{ recent_book.get_absolute_url }}{{ recent_book.volume }}/" onclick="m_win(this.href,'preview',835, 1000); return false;">{{ recent_book.entry.title }} {{ recent_book.volume}}</a></li>
                    {% else %}
                        <li>{{ recent_book.entry.title }} {{ recent_book.volume}}</li>
                    {% endif %}
                {% else %}
                    {% if recent_book.exit_pdf %}
                        <li><a href="{{ recent_book.get_absolute_url }}{{ recent_book.volume }}/" onclick="m_win(this.href,'preview',835, 1000); return false;">{{ recent_book.entry.title }}</a></li>
                    {% else %}
                        <li>{{ recent_book.entry.title }}</li>
                    {% endif %}
                {% endifequal %}
            {% endfor %}
        </ul>
    <!-- .localContentsNavi --></div>

    <h2><img src="{{ MEDIA_URL }}{{ RECENT_MOVIE }}" alt="RECENT MOVIE" width="190" height="45" /></h2>
    <div class="localContentsNavi">
        <ul class="localContentsNavi">
            <li><a href="#">sample 1</a></li>
            <li><a href="#">sample 2</a></li>
            <li><a href="#">sample 3</a></li>
            <li><a href="#">sample 4</a></li>
            <li><a href="#">sample 5</a></li>
        </ul>
    <!-- .localContentsNavi --></div>

    <h2><img src="{{ MEDIA_URL }}{{ RECENT_MUSIC }}" alt="RECENT MUSIC" width="190" height="45" /></h2>
    <div class="localContentsNavi">
    <ul>
        <li><a href="#">sample 1</a></li>
        <li><a href="#">sample 2</a></li>
        <li><a href="#">sample 3</a></li>
        <li><a href="#">sample 4</a></li>
        <li><a href="#">sample 5</a></li>
    </ul>
    <!-- .localContentsNavi --></div>
{% endblock %}

{% block contentsMain %}
    <h2><img src="{{ MEDIA_URL }}{{ MAIN_WHATNEW }}" alt="WHAT NEW" width="795" height="45" /></h2>
        <dl id="sectionWhatNew">
            {% for object in object_list %}
                <dt>{{ object.regist_date|date:"Y-m-d" }}</dt>
                <dd>{{ object.content|linebreaks|safe }}</dd>
            {% endfor %}
        <!-- #sectionWhatNew --></dl>

    <h2><img src="{{ MEDIA_URL }}{{ MAIN_INFO }}" alt="INFOMATION" width="795" height="45" /></h2>
    <div class="section">
        <p>◆ 電子書籍の対象ファイル</p>
             <ul>
                 <li>・pdfファイル</li>
                 <li>・epudファイル</li>
             </ul>

            <br />

         <p>◆ 全文検索機能について</p>
         <p>&nbsp;&nbsp;全文検索機能は技術本のみで利用できます。</p>

            <br />

         <p>◆ 統計情報</p>
         <p>&nbsp;&nbsp;BOOkのタイトル数や冊数などの統計情報が見れます。→<a href="/media/manage/analysis/book">こちら</a></p>
    <!-- .section --></div>
{% endblock %}
