<div align="center">
    <table class="paging_list">
        <tr>
            {% if keyword %}
                <td>
                {% if has_previous %}
                    <a href="?page={{ previous_page }}&keyword={{ keyword }}">&lt; Prev</a>
                {% else %}
                    <p>&lt; Prev</p>
                {% endif %}
                </td>
                <td>
                  [{% for page_num in page_range %}
                      {% if current_page == page_num %}
                          &nbsp;<span style='text-decoration: underline;'>{{ page_num }}</span>&nbsp;
                      {% else %}
                          <a href="?page={{ page_num }}&keyword={{ keyword }}">&nbsp;{{ page_num }}&nbsp;</a>
                      {% endif %}
                  {% endfor %}]
                </td>
                <td>
                    {% if has_next %}
                        <a href="?page={{ next_page }}&keyword={{ keyword }}">Next &gt;</a>
                    {% else %}
                        <p>Next &gt;</p>
                    {% endif %}
                </td>
            {% else %}
                <td>
                {% if has_previous %}
                    <a href="?page={{ previous_page }}">&lt; Prev</a>
                {% else %}
                    <p>&lt; Prev</p>
                {% endif %}
                </td>
                <td>
                  [{% for page_num in page_range %}
                      {% if current_page == page_num %}
                          &nbsp;<span style='text-decoration: underline;'>{{ page_num }}</span>&nbsp;
                      {% else %}
                          <a href="?page={{ page_num }}">&nbsp;{{ page_num }}&nbsp;</a>
                      {% endif %}
                  {% endfor %}]
                </td>
                <td>
                    {% if has_next %}
                        <a href="?page={{ next_page }}">Next &gt;</a>
                    {% else %}
                        <p>Next &gt;</p>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    </table>
</div>
