@charset "utf-8";

/* =======================================

    Header CSS

 -----------------------------------------
    INDEX
 -----------------------------------------
 
    1.Header Account
    2.Header Navi
    3.link
    
========================================== */


/* 1.Header Account
========================================== */

#wrapper #header #headerAccount {
    position: absolute;
    left: 500px;
    top: 5px;
    width: 500px;
    zoom: 1;
}

#wrapper #header #headerAccount:after {     /* for Modern Browser */
    content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}


#wrapper #header #headerAccount li {
    float: left;
    display: inline;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
}

#wrapper #header #headerAccount li:before {
    color: red;
    content: "▶ ";
}

#wrapper #header #headerAccount li a{
    color: #fff68f;
    text-decoration: none;
    border-bottom: 0px;
}


#wrapper #header #headerAccount li a:hover {
    color: none;
    position: relative;
    border-bottom: 1px dotted;        
}

#wrapper #header #headerAccount li a:visited {
    color: none;
}


/* 1.Header Navi
========================================== */
#wrapper #header #headerNavi {
    display: inline-block;
}


#wrapper #header #headerNavi #top {
    position: absolute;
    left: 370px;
    bottom: 85px;
    zoom: 1;
}

#wrapper #header #headerNavi #bottom {
    position: absolute;
    left: 356px;
    bottom: 15px;
    zoom: 1;
}

#wrapper #header ul.localHeaderNavi {
}

#wrapper #header #headerNavi ul.localHeaderNavi li {
    float: left;
    display: inline;
    bottom: 0px;
    width: 120px;
    margin: 0 3px; 
}

#wrapper #header #headerNavi:after {     /* for Modern Browser */
    content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}


/*  2.link
========================================== */
#wrapper #header #headerNavi ul.localHeaderNavi a {
    text-decoration: none;
}

#wrapper #header #headerNavi ul.localHeaderNavi a:hover {
    text-decoration: none;
    position: relative;
}
