@charset "utf-8";

/* =======================================

    Structure CSS

========================================== */

html, body {
    background: url(../../images/body_bg_01.jpg) repeat ;
    height: 100%;
}

body {
    color: #fff68f;
    font-size: 92.4%;
    line-height: 1.666;
}

#wrapper {
    height: 100%;
    position: relative;
    height: auto !important;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}

#wrapper #header {
    position: relative;
    padding: 15px 10px;
    background: url(../../images/body_bg_02.jpg) repeat-x;
}

#wrapper #contents {
    margin: 15px 0 0;
    padding: 0 0 70px 0;
}

#wrapper #contents #contentsNavi {
    float: left;
    display: inline;
    width: 190px;
}

#wrapper #contents #contentsMain {
    float: right;
    display: inline;
    width: 795px;
}

#wrapper #contents #contentsPreview {
    width: 795px;
    margin-left: 10px;
}


#wrapper #contents:after { /* for Modern Browser */
    content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0;
}

#wrapper #footer {
    position: absolute;
    bottom: 0px;
    width: 1000px;
    padding: 15px 0;
    background: url(../../images/body_bg_02.jpg) repeat ;
}
