@charset "utf-8";

/* =======================================

    textdecoration css

 -----------------------------------------
    INDEX
 -----------------------------------------
 
    1.text decoration
    2.「WHATS NEW」
    3.link
    4.paging
    
========================================== */


/* 1.text decoration
========================================== */
#wrapper #contents #contentsMain h2 {
}

#wrapper #contents #contentsMain div.section {
    margin: 0 10px;
    padding: 10px;
    background: url(../../images/body_bg_02.jpg) repeat;
}

#wrapper #contents #contentsPreview div.section {
    margin: 0 10px;
    padding: 10px;
    background: url(../../images/body_bg_02.jpg) repeat;
}


/* 2.contentsMain「WHATS NEW」 */
/* ========================================== */
#wrapper #contents #contentsMain dl#sectionWhatNew {
    height: 350px;
    line-height: 1.8;
    padding: 0 10px;
    margin: 0 10px 25px;
    overflow: auto;       /*この設定でiframe風に見える*/
    background: url(../../images/body_bg_02.jpg) repeat;
}


#wrapper #contents #contentsMain dl#sectionWhatNew dt {
    padding-top: 10px;
    font-weight: bold;    /* 日付の文字は太字にする */
}

#wrapper #contents #contentsMain dl#sectionWhatNew dd {
    padding: 0 0 15px 15px;
    line-height: 1.5;
    border-bottom: #daa520 1px solid;
}


/*  3.link
========================================== */
#wrapper #contents a {
    color: #fff68f;
    text-decoration: none;
    border-bottom: 0px;
}

#wrapper #contents a:hover {
    /* position: relative; */
    border-bottom: 1px dotted;
}

#wrapper #contents #contentsMain a:visited {
    color: #bf3eff;
}

#wrapper #contents #contentsMain div.section div.back {
    margin: 15px 0 5px;
    text-align: center;
}

#wrapper #contents #contentsPreview div.section div.back {
    margin: 15px 0 5px;
    text-align: center;
}


/*  4.paging
========================================== */
#wrapper .page_result {
    margin: 5px 0 0 15px;
    font-weight: bold;
    font-size: 14px;
}

#wrapper p.detail_page_result {
    margin: 5px 0 0 15px;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: #daa520 1px solid;
}

#wrapper table.paging_list {
    margin-top: 20px;
    border-collapse:separate;
    border-spacing: 30px 0;
}
