{% extends 'base.html' %}
{% load url from future %}

{% block contents %}
    <div class="box clear">
        <div class="boxHeader">
            <h2>{{ category.name }}</h2>
        </div>

        <div class="boxContent">
            <ol id="crumb">
                <li><a href="{% url 'book_index' %}">BOOK</a></li>
                <li><strong>{{ category.name }}</strong></li>
            </ol>

            {% for result in result_list %}
                <ul class="imageList clearfix">
                    <h3><span><a href="{% url 'book_subcategory' result.subcategory.category_id result.subcategory.id %}">{{ result.subcategory.name }}</a></span></h3>
                    {% for book in result.book_list %}
                        <li>
                            <a href="{% url 'book_detail' book.id %}">
                                <img src="{{ MEDIA_URL }}{{ book.img_path }}" class="imgLine" width="{{ BOOK_THUMB_WIDTH }}" height="{{ BOOK_THUMB_HEIGHT }}" />
                            </a>
                            <div class="bookName">
                                <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                            </div>
                        </li>
                        {% if forloop.counter|divisibleby:limit_num %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
