{% extends 'base.html' %}
{% load url from future %}

{% block contents %}
    <div class="block clearfix">

        <div class="boxHeader">
            <h2>BOOK詳細</h2>
        </div>

        <div class="boxContent">
            <ol id="crumb">
                <li><a href="{% url 'book_index' %}">BOOK</a></li>
                <li><a href="{% url 'book_category' book.category_id %}">{{ book.category.name }}</a></li>
                <li><a href="{% url 'book_subcategory' book.category_id book.subcategory_id %}">{{ book.subcategory.name }}</a></li>
                <li><strong>{{ book.title }}</strong></li>
            </ol>

            <div class="resultPage">{{ total }}件中 {{ start_index }}〜{{ end_index }}件目を表示</div>

            <div class="detailList">
                {% for book_detail in book_detail_list %}
                    <div class="dlSection">
                        <div class="dlSection1 center">
                            <a href="{{ MEDIA_URL }}{{ book_detail.img_path }}" class="thumbnail_view">
                                <img src="{{ MEDIA_URL }}{{ book_detail.img_path }}"  class="imgLine" alt="THUMBNAIL" width="{{ BOOK_THUMB_WIDTH }}" height="{{ BOOK_THUMB_HEIGHT }}" />
                            </a>
                            {% if user.is_staff %}
                                <div id="dwn-befor{{ book_detail.volume }}">
                                    <a class="dwBtn" onclick="fnDwnBtnDisable({{ book_detail.volume }}); return false;">Download</a>
                                </div>
                                <div id="dwn-after{{ book_detail.volume }}" style="display: none">
                                    <a class="dwbtnDisable">Download</a>
                                </div>
                            {% endif %}
                            <ul>
                                {% if book_detail.exit_pdf %}
                              <!-- <li><a href="" onclick="m_win(this.href,'preview',835, 1000); return false;">preview</a></li> -->

                              <!-- <li><a class="pbtn" target="_blank">pc(pdf)</a></li> -->
                                {% endif %}
                                {% if book_detail.exit_epud %}
                                    <li><a href="">ipad(epub)</a></li>
                                {% endif %}
                                <!-- <li><a href="{{ MEDIA_DATA }}{{ book_detail.get_absolute_url }}{{ book_detail.volume }}{{ BOOK_IPHONE }}">iphone(epub)</a></li> -->
                                {% if book_detail.exit_attachment  %}
                                    <li><a href="" target="_blank">付属CD</a></li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="dlSection2">
                            <dl>
                                <dt>タイトル :</dt><dd>{{ book_detail.book.title }}{% if book_detail.book.category_id == 2 %} ({{ book_detail.volume }}){% endif %}</dd>
                                <dt>著者 :</dt><dd>{{ book_detail.book.writer.name }}</dd>
                                <dt>出版社 :</dt><dd>{{ book_detail.book.publisher.name }}</dd>
                                <dt>ページ数 :</dt><dd>{{ book_detail.total_page }}</dd>
                                {% if book_detail.exit_pdf %}
                                    <dt>PDFサイズ :</dt><dd>{{ book_detail.pdf_size }} M</dd>
                                {% endif %}
                                {% if book_detail.exit_epud %}
                                    <dt>EPUDサイズ :</dt><dd>{{ book_detail.epud_size }} M</dd>
                                {% endif %}
                                <dt>カテゴリ :</dt><dd>{{ book_detail.book.category.name }}</dd>
                                <dt>サブカテゴリ :</dt><dd>{{ book_detail.book.subcategory.name }}</dd>
                            </dl>
                        </div>

                        <div class="dlSection3">
                            <dl>
                                <dt>作成日 :</dt><dd>{{ book_detail.create_date|date:"Y-m-d" }}</dd>
                                <dt>備考 :</dt><dd>{{ book_detail.description|linebreaks|safe }}</dd>
                                <dt><a href="{% url 'manage_edit' 'detail' book_detail.id %}">編集する</a></dt><dd></dd>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include './common/pager.html' %}

{% endblock %}
