{% extends 'book/base.html' %}

{% block contentsMain %}
    {% block localTitle %}
    {% endblock %}

    <div class="section">
        {% if name %}
            <h3>{{ name }}</h3>
        {% endif %}

        {% if total %}
            <p class="page_result">{{ total }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>
             
            {% block localContents %}
            {% endblock %}
             
            <div align="center">
                <table class="paging_list">
                    <tr>
                        <td>
                        {% if has_previous %}
                            <a href="?page={{ previous_page }}">&lt; Prev</a>
                        {% else %}
                            <p>&lt; Prev</p>
                        {% endif %}
                        </td>
                        <td>
                          [{% for page_num in page_range %}
                              {% if current_page == page_num %}
                                  &nbsp;<span style='text-decoration: underline;'>{{ page_num }}</span>&nbsp;
                              {% else %}
                                  <a href="?page={{ page_num }}">&nbsp;{{ page_num }}&nbsp;</a>
                              {% endif %}
                          {% endfor %}]
                        </td>
                        <td>
                            {% if has_next %}
                                <a href="?page={{ next_page }}">Next &gt;</a>
                            {% else %}
                                <p>Next &gt;</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <div class="mt30 ml10 mb20">
                該当する本がありません
            </div>
        {% endif %}
    </div>
{% endblock %}
