{% extends 'book/base.html' %}

{% block contentsMain %}
    {% block localTitle %}
    {% endblock %}

    <div class="section">
        {% if name %}
            <h3>{{ name }}</h3>
        {% endif %}

        {% if total %}
            <p class="page_result">{{ total }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>

            {% block localContents %}
            {% endblock %}

            {% include './common/pager.html' %}
        {% else %}
            <div class="mt30 ml10 mb20">
                該当する本がありません
            </div>
        {% endif %}
    </div>
{% endblock %}
