{% extends 'base.html' %}
{% load url from future %}

{% block contents %}
    <div class="box clear">
        <div class="boxHeader">
            <h2>「{{ keyword }}」による検索結果</h2>
        </div>

        <div class="boxContent">
            <div class="resultPage mb10">{{ total }}件中 {{ start_index }}〜{{ end_index }}件目を表示</div>

            {% if not total %}
                <div class="mt20 center bold">該当するデータはありません</div>
            {% else %}
                <div class="boxContent line">
                    <ul class="imageList clearfix">
                        {% for book in book_list %}
                            <li>
                                <a href="{% url 'book_detail' book.id %}">
                                    <img src="{{ MEDIA_URL }}{{ book.img_path }}" class="imgLine" width="{{ BOOK_THUMB_WIDTH }}" height="{{ BOOK_THUMB_HEIGHT }}" />
                                </a>
                                <div class="bookName">
                                    <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                                </div>
                            </li>
                            {% if forloop.counter|divisibleby:limit_num %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    {% include './common/pager.html' %}
{% endblock %}
