@charset "utf-8";

/* =======================================

    manage css

 -----------------------------------------
    INDEX
 -----------------------------------------
 
    1.layout
    2.tab
    3.main layout
    4.main text
    5.link
    6.buttun
    7.contentsNavi

========================================== */


/*  1.layout
========================================== */

#wrapper #contents #manageContentsNavi {
    float: left;
    display: inline;
    width: 190px;
}

#wrapper #contents #manageContents {
    float: right;
    display: inline;
    width: 795px;
}

/* /\*  2.tab */
/* ========================================== *\/ */

/* #wrapper #manageContents #manageNavi { */
/*     margin-left:4px; */
/* } */

/* #wrapper #manageContents #manageNavi li{ */
/*   float:left; */
/*   position: inline; */
/*   margin:0 0 0 10px; */
/*   width: 80px; */
/*   height: 55px; */
/*   background:url(../../images/manage_tag_01.png) top left no-repeat; */
/* } */

/* #wrapper #manageContents #manageNavi li a{ */
/*   display:block; */
/*   text-align: center; */
/*   padding:10px 0; */
/*   border-bottom: 0px; */
/* } */

/* #wrapper #manageContents #manageNavi li.cur, */
/* #wrapper #manageContents #manageNavi li.over */
/* { */
/*   background:url(../../images/manage_tag_02.png) top left no-repeat; */
/* } */

/* #wrapper #manageContents #manageNavi:after { /\* for Modern Browser *\/ */
/*     content: "."; display: block; clear: both; height: 0; visibility: hidden; font-size: 0; */
/* } */

/*  3.main layout
========================================== */

#wrapper #manageContents #manageMain {
    padding: 20px;
    background: url(../../images/body_bg_02.jpg) repeat;
}    

#wrapper #manageContents #manageMain div.manageSection {
    margin: 20px auto 0;
}    

#wrapper #manageContents div.manageMode {
    text-align: right;
    font-weight: bold;
    margin-right: 30px;
}


/*  4.main text
========================================== */

#wrapper #manageContents h2 {
    color: #ffdead;
    font-size: 140%;
    font-weight: bold;
    border-style: solid;
    border-color: #daa520;
    border-width: 0px 0px 1px 5px;
    padding: 0 0 3px 10px;
}

#wrapper #manageContents #manageMain div.resultMsg {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
}


/*  5.link
========================================== */
#wrapper #manageContents #manageMain table.manageList tr td a {
    color: #8b3e2f;
    text-decoration: none;
    border-bottom: 1px dotted;
}

#wrapper #manageContents #manageMain table.manageList tr td a:hover {
    color: #ff0000;
    position: relative;
    border-bottom: 0px;
}

#wrapper #manageContents #manageMain table.manageList tr td a:visited {
    color: #bf3eff;
}


/*  6.botton
========================================== */

#wrapper #manageContents #manageMain table.manageButton {
    margin: 20px auto 0;
    width: 100%;
}

#wrapper #manageContents #manageMain table.manageButton tr td {
    text-align: center;
}

#wrapper #manageContents #manageMain table.manageButton input.button {
    color: #eedd82;
    background: #556b2f;
    padding: 2px 5px;
    width: 80px;
    font-weight: bold;
    margin: 0 20px;
    position: relative;
    border: 1px solid #deb887;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#wrapper #manageContents #manageMain table.manageButton input.button:hover {
    cursor: pointer;
}

/* 7.contentsNavi
========================================== */

#wrapper #contents #manageContentsNavi ul.manageContentsNavi {
    padding: 3px 0;
    margin: 0px 10px 0px;
    background: url(../../images/body_bg_02.jpg) repeat;
}

#wrapper #contents #manageContentsNavi ul.manageContentsNavi li {
    /* border-bottom: #daa520 1px solid; */
    /* padding-bottom: 6px; */
    margin: 0px 20px 0px;
}
