{% extends 'local_base.html' %}
{% load url from future %}

{% block contents %}
    <div class="block clearfix">
        <div class="boxHeader">
            <h2>新着情報</h2>
        </div>

        <div class="box small left">
            <div class="boxContent">
                <h3><span>更新履歴</span></h3>
                <dl id="sectionWhatNew">
                    {% for whatnew in whatnew_list %}
                        <dt>{{ whatnew.create_date|date:"Y-m-d" }}</dt>
                        <dd>{{ whatnew.content|linebreaks|safe }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>

        <div class="box small right">
            <div class="boxContent">
                <h3><span>最新の追加分</span></h3>
                <ul class="imageList clearfix">
                    {% for book in recent_book_list %}
                        <li>
                            <a href="{% url 'book_detail' book.id %}">
                                <img src="{{ MEDIA_URL }}{{ book.img_path }}" width="77" height="{{ BOOK_THUMB_HEIGHT }}" />
                                <div class="bookName" style="width: 77px">
                                    <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
