{% extends 'manage/base.html' %}

{% block manageContentsMain %}
    <div class="manageSection">
        <div class="manageMode"><a href="{{ MEDIA_BASE }}{{ MANAGE_TOP }}add/{{ set_type }}/">add</a> / edit</div>
        <div class="manageSearchForm">
            <ul>
                <form method="post" action="{{ MEDIA_BASE }}{{ MANAGE_TOP }}search/{{ set_type }}/" >
                    {% if keyword %}
                        <li><input class="search_result" type="text" maxlength="100" name="search" value="{{ keyword }}" /></li>
                    {% else %}
                        <li><input class="id_search" type="text" maxlength="100" name="search" value="キーワード検索" /></li>
                    {% endif %}
                    <li><input class="button" type="submit" value="SEARCH" /></li>
                </form>
            </ul>
        <!-- /.manageSearchForm --></div>
        {% if keyword %}
            <p class="page_result">検索結果：{{ hits }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>
        {% else %}
            <p class="page_result">{{ hits }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>
        {% endif %}

        <form method="post">
        {% for object in object_list %}
            {% ifequal set_type 'whatnew' %}
                {% if forloop.first %}
                    <table class="manageList">
                        <tr>
                            <th class="size60"></th>
                            <th>登録日</th>
                            <th>内容</th>
                        </tr>
                {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td><a href="./{{ object.id }}/">{{ object.regist_date|date:"Y-m-d" }}</a></td>
                            <td>{{ object.content|linebreaks|safe }}</td>
                        </tr>
            {% endifequal %}

        {% endfor %}
                    <!-- .manageList --></table>
                    <table class="manageButton">
                        <tr>
                            <td><input class="button" type="submit" value="DELETE" onclick="this.form.action='./delete_checked/'" /></td>
                        </tr>
                    <!-- .manageButton --></table>
        </form>
    <!-- .manageSection --></div>

    <div align="center">
        <table class="paging_list">
            <tr>
                {% if keyword %}
                   <td>
                    {% if has_previous %}
                        <a href="?page={{ previous }}&keyword={{ keyword }}">&lt; Prev</a>
                    {% else %}
                        <p>&lt; Prev</p>
                    {% endif %}
                    </td>
                    <td>
                      [{% for page_num in page_range %}
                          {% ifequal page page_num %}
                              {{ page_num }}
                          {% else %}
                              <a href="?page={{ page_num }}&keyword={{ keyword }}">{{ page_num }}</a>
                          {% endifequal %}
                      {% endfor %}]
                    </td>
                    <td>
                        {% if has_next %}
                            <a href="?page={{ next }}&keyword={{ keyword }}">Next &gt;</a>
                        {% else %}
                            <p>Next &gt;</p>
                        {% endif %}
                    </td>
                {% else %}
                   <td>
                    {% if has_previous %}
                        <a href="?page={{ previous }}">&lt; Prev</a>
                    {% else %}
                        <p>&lt; Prev</p>
                    {% endif %}
                    </td>
                    <td>
                      [{% for page_num in page_range %}
                          {% ifequal page page_num %}
                              {{ page_num }}
                          {% else %}
                              <a href="?page={{ page_num }}">{{ page_num }}</a>
                          {% endifequal %}
                      {% endfor %}]
                    </td>
                    <td>
                        {% if has_next %}
                            <a href="?page={{ next }}">Next &gt;</a>
                        {% else %}
                            <p>Next &gt;</p>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        <!-- .paging_list --></table>
    </div>
{% endblock %}
