{% extends 'base.html' %}
{% load url from future %}

{% block contents %}
    <div class="block clearfix">
        <div class="boxHeader">
            <h2>BOOK登録状況</h2>
        </div>

        <div class="box small left">
            <div class="boxContent">
                <h3><span>タイトル数</span></h3>
                <table class="status">
                    {% for category in category_list %}
                        <tr>
                            <th>{{ category.name }}</th>
                            <td>{{ category.title_count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>合計タイトル数</th>
                        <td>{{ total_title_count }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box small right">
            <div class="boxContent">
                <h3><span>冊数</span></h3>
                <table class="status">
                    {% for category in category_list %}
                        <tr>
                            <th>{{ category.name }}</th>
                            <td>{{ category.book_count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>合計冊数</th>
                        <td>{{ total_book_count }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box clear">
            <br />
            <div class="boxContent">
                <h3><span>カテゴリ別タイトル数</span></h3>
                {% for category in category_list %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="box small right">
                    {% else %}
                        <div class="box small left">
                    {% endif %}
                        <h4>{{ category.name }}</h4>
                        <table class="status">
                            {% for subcategory in category.get_subcategory_list %}
                                <tr>
                                    <th>{{ subcategory.name }}</th>
                                    <td>{{ subcategory.title_count }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
