{% extends 'local_base.html' %}
{% load url from future %}

{% block contents %}
    <div class="block clearfix">
        <div class="boxHeader">
            <h2>BOOK登録状況</h2>
        </div>

        <div class="box small left">
            <div class="boxContent">
                <h3><span>タイトル数</span></h3>
                <table>
                    {% for category in category_list %}
                        <tr>
                            <td width="185">{{ category.name }}</td>
                            <td class="right" width="30">{{ category.title_count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td width="185">合計タイトル数</td>
                        <td class="right" width="30">{{ total_title_count }}</td>
                    </tr>
                </table>

                <h3><span>冊数</span></h3>
                <table>
                    {% for category in category_list %}
                        <tr>
                            <td width="185">{{ category.name }}</td>
                            <td class="right" width="30">{{ category.book_count }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td width="185">合計タイトル数</td>
                        <td class="right" width="30">{{ total_book_count }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box small right">
            <div class="boxContent">
                <h3><span>カテゴリ別タイトル数</span></h3>
                {% for category in category_list %}
                    <h4><span>{{ category.name }}</span></h4>
                    <table>
                        {% for subcategory in category.get_subcategory_list %}
                            <tr>
                                <td width="185">{{ subcategory.name }}</td>
                                <td class="right" width="30">{{ subcategory.title_count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
