@charset "utf-8";

/* =======================================

    Navigation CSS

 -----------------------------------------
    INDEX
 -----------------------------------------
 
    1.contentsNavi
        1-1 Navi Title

========================================== */

/* 1.contentsNavi
========================================== */

#wrapper #contents #contentsNavi div.localContentsNavi {
    padding: 3px 0;
    margin: 0 10px 25px;
    background: url(../../img/body_bg_02.jpg) repeat;
}

#wrapper #contents #contentsNavi div.localContentsNavi ul li {
    border-bottom: #daa520 1px solid;
    padding-bottom: 6px;
    margin: 0 12px 3px;
}

    /* 1-1 Navi Title
    ------------------------------------------ */
    #wrapper #contents #contentsNavi h2 {
    }
     
    #wrapper #contents #contentsNavi div.localContentsNavi h3 {
        color: #ffdead;
        font-size: 115%;
        border-style: solid;
        border-color: #daa520;
        border-width: 0px 0px 1px 5px;
        padding-bottom: 3px;
        padding-left: 7px;
        font-weight: bold;
        margin: 15px 10px 5px;
    }


/* 2.contentsSearch
========================================== */
#wrapper #contents #contentsNavi ul.contentsSearch {
    padding: 10px 0 3px;
    margin: 0 10px 25px;
    background: url(../../img/body_bg_02.jpg) repeat;
}

#wrapper #contents #contentsNavi ul.contentsSearch li {
    text-align: center;
    margin: 0 12px 7px;
}

#wrapper #contents #contentsNavi ul.contentsSearch li h3 {
    color: #ffdead;
    border-style: solid;
    border-color: #daa520;
    border-width: 1px 0 1px 0px;
    font-weight: bold;
    margin: 10px 0px;
}

#wrapper #contents #contentsNavi ul.contentsSearch li input.search_result {
    color: #fafad2;
    background: #8b5a2b;
    width: 135px;
    padding: 1px 4px;
    border: 1px double #8b5a2b;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#wrapper #contents #contentsNavi ul.contentsSearch li input.id_search {
    color: #fafad2;
    background: #8b5a2b;
    width: 135px;
    padding: 1px 4px;
    border: 1px double #8b5a2b;
    vertical-align: middle;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#wrapper #contents #contentsNavi ul.contentsSearch li input.button {
    color: #eedd82;
    background: #556b2f;
    width: 80px;
    font-weight: bold;
    margin: 0 20px;
    position: relative;
    border: 1px solid #deb887;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
