@charset "utf-8";

/* =======================================

    Footer CSS

 -----------------------------------------
    INDEX
 -----------------------------------------
 
    1.Copyright

========================================== */

/* 1.Copyright
========================================== */

#footer #copyright{
    color: #ffdead;
    text-align: center;
    letter-spacing: 0.2em;  /*文字の間隔を少し広げる*/
}

