{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="text/css" http-equiv="Content-Style-Type"/>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title></title>
<link href="{{ MEDIA_URL }}{{ MEDIA_CSS }}" type="text/css" rel="stylesheet" media="screen,tv" />
</head>
    <body>
        <p>システム障害が発生しました</p>
    </body>
</html>
