{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="text/css" http-equiv="Content-Style-Type"/>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title></title>
<link href="{{ MEDIA_URL }}{{ MEDIA_CSS }}" type="text/css" rel="stylesheet" media="screen,tv" />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]-->
<!--[if lt IE 8]><style type="text/css" media="all">@import url("css/ie.css");</style><![endif]-->
<link href="{{ MEDIA_URL }}/css/slimbox2.css" type="text/css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}/js/slimbox2.js"></script> -->
<!-- <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.tablesorter.js"></script> -->
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.date_input.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.droppy.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/script.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/custom.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.png_bg');
</script>
<![endif]-->
</head>

{% if is_login_page %}
    {% block login %}
    {% endblock %}
{% else %}
    <body>
        <div class="wrapper clearfix">
            <div class="header">
                <div class="logo"><img src="{{ MEDIA_URL }}/img/logo.png" alt="Logo" /></div>
                <div class="headNavi">
                    <form action="{% url 'book_search' %}" class="search">
                        {% if navi_search %}
                            <input type="text" class="searchText" name="keyword" value="{% if keyword %}{{ keyword }}{% else %}カテゴリ or タイトル 検索{% endif %}" />
                        {% else %}
                            <input type="text" class="searchText" name="keyword" value="カテゴリ or タイトル 検索" />
                        {% endif %}
                        <input type="image" src="{{ MEDIA_URL }}/img/icon_search.png" alt="検索" class="searchBtn" onclick="void(this.form.submit());return false" />
                    </form>
                    <div class="user">
                        Login:&nbsp;<span style="color: #fafad2; font-size: 17px;">{{ user.username }}</span>
                    </div>
                </div>
            </div>

            <div class="naviArea clear">
                <ul class="navi clearfix droppy">
                    <li><a href="{% url 'top_index' %}">TOP</a></li>
                    <li><a href="{% url 'book_index' %}">BOOK</a></li>
                    <li><span><a>CATEGORY</a></span>
                    <ul class="navi_second">
                        {% for category in category_list %}
                            <li>
                                <span><a href="{% url 'book_category' category.id %}">{{ category.name }}</a></span>
                                <ul class="navi_third">
                                    {% for subcategory in category.get_subcategory_list %}
                                        <li><a href="{% url 'book_subcategory' category.id subcategory.id %}">{{ subcategory.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    <li><span><a>MANAGE</a></span>
                        <ul class="navi_second">
                            <li><a href="{% url 'manage_index' 'whatnew' %}">新着情報</a></li>
                            <li><a href="{% url 'manage_index' 'book' %}">タイトル</a></li>
                            <li><a href="{% url 'manage_index' 'detail' %}">タイトル詳細</a></li>
                            <li><a href="{% url 'manage_index' 'category' %}">カテゴリ</a></li>
                            <li><a href="{% url 'manage_index' 'subcategory' %}">サブカテゴリ</a></li>
                            <li><a href="{% url 'manage_index' 'writer' %}">著者</a></li>
                            <li><a href="{% url 'manage_index' 'publisher' %}">出版社</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'manage_status' %}">STATUS</a></li>
                    <li><span><a>USER</a></span>
                        <ul class="navi_second">
                            <li><a href="{% url 'auth_password_change' %}">パスワードの変更</a></li>
                            <li><a href="{% url 'auth_logout' %}">ログアウト</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            {% if is_passward_page %}
                {% block change_passwd %}
                {% endblock %}
            {% else %}
                <div class="container clearfix">
                    <div class="conHeader clearfix">
                        <div class="contentArea clearfix">
                            {% block contents %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if not is_passward_page %}
            <div class="footerArea clear">
                <address id="copyright">Copyright&copy; {{ MEDIA_FOTTER }} All Rights Reserved.</address>
            </div>
        {% endif %}
    </body>
{% endif %}

</html>
