<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-style-type" content="text/css; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>{{ MEDIA_TITLE }}</title>
<meta name="description" content="" />
<meta name="keywords" content="*,*" />
<link type="text/css" href="{{ MEDIA_URL }}{{ MEDIA_CSS }}" rel="stylesheet" media="all" />
<script type="text/javascript" src="{{ MEDIA_URL }}{{ MEDIA_JS }}"></script>

</head>

<body>
<div id="wrapper">

    {% block header %}
    {% endblock %}

    {% block login %}
    {% endblock %}

    {% block change_passwd %}
    {% endblock %}

    {% block upload %}
    {% endblock %}

    {% block contents %}
    {% endblock %}

    {% block search %}
    {% endblock %}

    {% block manage %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
<!-- /#wraper --></div>

</body>
</html>


