{% extends 'manage/base.html' %}

{% block manageContentsMain %}
    <div id="book">
        <div class="leftCol">
            <table class="analysisTitle">
                <tr>
                    <th colspan="2">タイトル数</th>
                </tr>
                {% for category in category_list %}
                    {% for key, value in titleArr.items %}
                        {% ifequal category.url_name key %}
                        <tr>
                            <td class="size185">{{ category.name }}</td>
                            <td class="size30">{{ value }}</td>
                        </tr>
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td>合計タイトル数</td>
                    <td>{{ titleArr.total_title }}</td>
                </tr>
            <!-- .analysisTitle --></table>

            <table class="analysisBook">
                <tr>
                    <th colspan="2">冊数</th>
                </tr>
                {% for category in category_list %}
                    {% for key, value in bookArr.items %}
                        {% ifequal category.url_name key %}
                        <tr>
                            <td class="size185">{{ category.name }}</td>
                            <td class="size30">{{ value }}</td>
                        </tr>
                        {% endifequal %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td>合計冊数</td>
                    <td>{{ bookArr.total_book }}</td>
                </tr>
            <!-- .analysisBook --></table>
        <!-- .leftCol --></div>

        <div class="rightCol">
            <table class="analysisCategory">
                <tr>
                    <th colspan="2">カテゴリ別タイトル数</th>
                </tr>
                <tr >
                    {% for category in category_list %}
                        <td>
                            {% for key, value in subcategoryArr.items %}
                                {% ifequal category.url_name key %}
                                    <table class="analysisLocalCategory">
                                        <tr>
                                            <th colspan="2">{{ category.name }}</th>
                                        </tr>
                                        {% for row in value %}
                                            {% for local_key, local_value in row.items %}
                                                {% for subcategory in subcategory_list %}
                                                    {% ifequal subcategory.url_name local_key %}
                                                         <tr>
                                                             <td>{{ subcategory.name }}</td>
                                                             <td>{{ local_value }}</td>
                                                         </tr>
                                                     {% endifequal %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                    <!-- .analysisLocalCategory --></table>
                                {% endifequal %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            <!-- .analysisCategory --></table>
        <!-- .rightCol --></div>
    <!-- #book --></div>
{% endblock %}
