{% extends 'book/base.html' %}

{% block contentsNavi %}
    <h2><img src="{{ MEDIA_URL }}{{ NAVI_CATEAGORY }}" alt="CATEGORY" width="190" height="45" /></h2>
    <div class="localContentsNavi">
        <ul>
        {% for category in category_list %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    <!-- .localContentsNavi --></div>

    <h2><img src="{{ MEDIA_URL }}{{ NAVI_SUBCATEGORY }}" alt="SUBCATEGORY" width="190" height="45" /></h2>
    <div class="localContentsNavi">
        {% for category in category_list %}
            <h3>{{ category }}</h3>
            <ul>
            {% for subcategory in subcategory_list %}
                {% ifequal category.id subcategory.category_id %}
                    <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                {% endifequal %}
            {% endfor %}
            </ul>
        {% endfor %}
    <!-- .localContentsNavi --></div>
{% endblock %}

{% block contentsMain %}
    <h2><img src="{{ MEDIA_URL }}{{ MAIN_ALL_LIST }}" alt="ALL LIST" width="795" height="45" /></h2>
    <div class="section">
        {% for category in category_list %}
            <h3>{{ category.name }}</h3>
            <ul class="column">
                {% for object in aobject %}
                    {% ifequal category.id object.cid %}
                            <li>
                                <div class="block">
                                   <a href="{{ object.curl }}/{{ object.scurl }}/{{ object.url }}">
                                       <img src="{{ MEDIA_DATA }}/media/book/{{ object.curl }}/{{ object.scurl }}/{{ object.url }}/{{ BOOK_THUMBNAIL }}" alt="THUMBNAIL" width="{{ BOOK_THUMB_WIDTH }}" height="{{ BOOK_THUMB_HEIGHT }}" />
                                   </a>
                                   <div class="bookName"><a href="{{ object.curl }}/{{ object.scurl }}/{{ object.url }}">{{ object.title }}</a></div>
                                <!-- /.block --></div>
                            </li>
                            {% if forloop.counter|divisibleby:limit_num %}
                            {% endif %}
                    {% endifequal %}
                {% endfor %}
            <!-- /.column --></ul>
            <p class="extendPage"><a href="{{ category.get_absolute_url }}" title="{{ category.name }}">もっと見る</a></p>
       {% endfor %}
    <!-- /.section --></div>

{% endblock %}
