{% extends 'book/base_category.html' %}

{% block localCategory %}
    <h2><img src="{{ MEDIA_URL }}{{ MAIN_CATEGORY }}" alt="CATEGORY" width="795" height="45" /></h2>
    <div class="section">
        <h3>{{ category_name }}</h3>
        <p class="page_result">{{ hits }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>
        <ul class="column">
            {% for object in object_list %}
                <li>
                    <div class="block">
                       <a href="{{ object.get_absolute_url }}" class="thumbnail">
                           <img src="{{ MEDIA_DATA }}{{ object.get_absolute_url }}{{ BOOK_THUMBNAIL }}" alt="THUMBNAIL" width="{{ BOOK_THUMB_WIDTH }}" height="{{ BOOK_THUMB_HEIGHT }}" />
                       </a>
                       <div class="bookName"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
                    <!-- /.block --></div>
                </li>
            {% endfor %}
        <!-- /.column --></ul>
{% endblock %}
