{% extends 'local_base.html' %}
{% load url from future %}

{% block contents %}
    <div id="contents">
        <div id="manageContentsNavi">
            <h2><img src="{{ MEDIA_URL }}{{ NAVI_MANAGE }}" alt="MANAGE MENU" width="190" height="45" /></h2>
            <ul class="manageContentsNavi">
                <li><b>TOP</b></li>
                <li>┗ <a href="{% url 'manage_top_whatnew_add' %}">What New</a></li>
            </ul>
            <ul class="manageContentsNavi">
                <li><b>BOOk</b></li>
                <li>┣ <a href="{{ MEDIA_BASE }}{{ MANAGE_BOOK }}add/entry/">タイトル</a></li>
                <li>┣ <a href="{{ MEDIA_BASE }}{{ MANAGE_BOOK }}add/detail/">タイトル詳細</a></li>
                <li>┣ <a href="{{ MEDIA_BASE }}{{ MANAGE_BOOK }}add/category/">カテゴリ</a></li>
                <li>┣ <a href="{{ MEDIA_BASE }}{{ MANAGE_BOOK }}add/subcategory/">サブカテゴリ</a></li>
                <li>┣ <a href="{{ MEDIA_BASE }}{{ MANAGE_BOOK }}add/writer/">著者</a></li>
                <li>┗ <a href="{{ MEDIA_BASE }}{{ MANAGE_BOOK }}add/publisher/">出版社</a></li>
            </ul>
            {% comment %}
            <ul class="manageContentsNavi">
                <li><b>UPLOAD</b></li>
                <li>┗ <a href="{{ MEDIA_BASE }}{{ MANAGE_UPLOAD }}book/">BOOK</a></li>
            </ul>
            {% endcomment %}
            <ul class="manageContentsNavi">
                <li><b>ANALYSIS</b></li>
                <li>┗ <a href="{% url 'manage_analysis_book' %}">BOOK</a></li>
            </ul>
        </div>

        <div id="manageContents">
            <div id="manageMain">
                <h2>{{ title }}</h2>
                <div class="manageSection">
                    {% if msg %}
                        <div class="resultMsg">
                            {% block manageContentsMenu %}
                            {% endblock %}
                            {{ msg }}
                        </div>
                    {% endif %}

                    {% block manageContentsMain %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
