{% extends 'manage/base.html' %}
{% load url from future %}

{% block manageContentsMain %}
    <div class="manageSection">
        <div class="manageMode"><a href="{% url 'manage_book_add' set_type %}">add</a> / edit</div>
        <div class="manageSearchForm">
            <ul>
                <form method="post" action="{% url 'manage_book_search' set_type %}" >
                    {% if keyword %}
                        <li><input class="search_result" type="text" maxlength="100" name="search" value="{{ keyword }}" /></li>
                    {% else %}
                        <li><input class="id_search" type="text" maxlength="100" name="search" value="キーワード検索" /></li>
                    {% endif %}
                    <li><input class="button" type="submit" value="SEARCH" /></li>
                </form>
            </ul>
        </div>
        {% if keyword %}
            <p class="page_result">検索結果：{{ total }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>
        {% else %}
            <p class="page_result">{{ total }}件中 {{ start_index }}〜{{ end_index }}件目を表示</p>
        {% endif %}

        <form method="post">
            {% for object in result_list %}

                {% ifequal set_type 'book' %}
                    {% if forloop.first %}
                        <table class="manageList">
                            <tr>
                                <th class="size60"></th>
                                <th>カテゴリ</th>
                                <th>サブカテゴリ</th>
                                <th>タイトル</th>
                            </tr>
                    {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td>{{ object.category.name }}</td>
                            <td>{{ object.subcategory.name }}</td>
                            <td><a href="{% url 'manage_book_edit' set_type object.id %}">{{ object.title }}</a></td>
                        </tr>
                {% endifequal %}

                {% ifequal set_type 'detail' %}
                    {% if forloop.first %}
                        <table class="manageList">
                            <tr>
                                <th class="size60"></th>
                                <th>タイトル</th>
                                <th class="size40">巻</th>
                                <th class="size30">PDFサイズ</th>
                                <th class="size50">EPUDサイズ</th>
                                <th class="size40">ページ数</th>
                                <th>著者</th>
                                <th>出版社</th>
                            </tr>
                    {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td><a href="{% url 'manage_book_edit' set_type object.id %}">{{ object.book.title }}</a></td>
                            <td>{{ object.volume }}</td>
                            <td>{{ object.pdf_size }}M</td>
                            <td>{{ object.epud_size }}M</td>
                            <td>{{ object.total_page }}</td>
                            <td>{{ object.writer.name }}</td>
                            <td>{{ object.publisher.name }}</td>
                        </tr>
                {% endifequal %}

                {% ifequal set_type 'category' %}
                    {% if forloop.first %}
                        <table class="manageList">
                            <tr>
                                <th class="size60"></th>
                                <th class="size75">表示順</th>
                                <th>カテゴリ名</th>
                            </tr>
                    {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td>{{ object.sort }}</td>
                            <td><a href="{% url 'manage_book_edit' set_type object.id %}">{{ object.name }}</a></td>
                        </tr>
                {% endifequal %}

                {% ifequal set_type 'subcategory' %}
                    {% if forloop.first %}
                        <table class="manageList">
                            <tr>
                              <th class="size60"></th>
                              <th class="size75">表示順</th>
                              <th class="size100">カテゴリ名</th>
                              <th>サブカテゴリ名</th>
                            </tr>
                    {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td>{{ object.sort }}</td>
                            <td>{{ object.category.name }}</td>
                            <td><a href="{% url 'manage_book_edit' set_type object.id %}">{{ object.name }}</a></td>
                        </tr>
                {% endifequal %}

                {% ifequal set_type 'writer' %}
                    {% if forloop.first %}
                        <table class="manageList">
                            <tr>
                                <th class="size60"></th>
                                <th class="size100">カテゴリ名</th>
                                <th>著者</th>
                            </tr>
                    {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td>{{ object.category.name }}</td>
                            <td><a href="{% url 'manage_book_edit' set_type object.id %}">{{ object.name }}</a></td>
                        </tr>
                {% endifequal %}

                {% ifequal set_type 'publisher' %}
                    {% if forloop.first %}
                        <table class="manageList">
                            <tr>
                                <th class="size60"></th>
                                <th class="size100">カテゴリ名</th>
                                <th>出版社</th>
                            </tr>
                    {% endif %}
                        <tr>
                            <td><input type="checkbox" name="del_flag" value="{{ object.id }}" /></td>
                            <td>{{ object.category.name }}</td>
                            <td><a href="{% url 'manage_book_edit' set_type object.id %}">{{ object.name }}</a></td>
                        </tr>
                {% endifequal %}

            {% endfor %}
            </table>
            <table class="manageButton">
                <tr>
                    <td>
                        <input class="button" type="submit" value="DELETE" onclick="this.form.action='{% url 'manage_book_delete_checked' set_type %}'" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% include './common/pager.html' %}
{% endblock %}
